.all-products {
  height: 100vh;
}
select {
  border-radius: 10px;
}
.header-products {
  margin-block: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.card img {
  aspect-ratio: 1/1;
  object-fit: contain;
}
.card {
  height: 700px !important;
}
